/*overpass regular font?*/
body {
    background: rgb(230, 238, 243);
    font-family: 'Overpass', helvetica, sans-serif;
    margin: 0;
}

#banner {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 32px;
    color: white;
    background-color: rgb(0, 63, 105);
    margin: 0;
    padding: 20px 8px;
}

.navbar {
    background-color: rgb(198, 195, 198);
    padding: 5px 0px;
    text-align: center;
    clear: both;
}

button {
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.nav-button {
    background-color: rgb(74, 77, 74);
    color: white;
}

.nav-button:hover {
    background-color: rgb(0, 119, 192);
}

.control-button {
    background-color: rgb(1, 205, 114);
    color: white;
}

.control-button:hover {
    background: rgb(106, 204, 239);
}

#control-button-group {
    float: right;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

#details, #history, #procurement {
    padding: 0px 8px;
    border: 2px solid black;
}

#product {
    width: 67%;
    float: left;
}

#procurement {
    width: 30%;
    float: right;
}